# Use whitelisting and ignore everything by default.
#
*

# Don't ignore directories.
#
!*/

# Don't ignore Git-specific files.
#
!.git*

# Allow all files from upstream sources.
#
!upstream*
!upstream*/**

# Don't ignore license and documentation files.
#
!*.md
!README
!LICENSE

# Don't ignore default C++ file extensions.
#
!*.h
!*.c
!*.hpp
!*.cpp

# Don't ignore source generation files.
#
!*.in

# Add original source files that might have been changed.
#
!*.orig

# Don't ignore standard build2 files.
#
!buildfile
!bootstrap.build
!export.build
!root.build
!*manifest
!*testscript

# Don't ignore Lua files.
#
!*.lua
